<ul class="recommended">
    <li>
        <a href="@Href("~/policies/Contact")">Contact Us</a>
    </li>
    <li>
        <a href="@Href("~/policies/Terms")">Terms of Use</a>
    </li>
    <li>
        <a href="Your Privacy URL">Privacy Policy</a>
    </li>
    <li>
        &copy; @DateTime.UtcNow.Year Your Company Name
    </li>
</ul>

